*{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}
#navbar{
    height: 60px;
    background-color:#0f1111;
   
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 180px;
    text-decoration: none;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
}
#content{
    height: 575px;
    
    
}
footer{
    background-color: #0f1111;
    text-align: center;
}
